# Python
__pycache__/
*.py[cod]
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Security (هام جداً)
.env
.env.*

# Windows/Mac
.DS_Store
Thumbs.db
.vscode/
.idea/